@font-face {
  font-family: "Jost";
  src: url('./assets/Jost-Regular.ttf')
}

* {
  font-family: "Jost", sans-serif;
}

:root {
  background-color: #1E1E1E;
}

html, body, #root {
  height: 100%;
  margin: 0px;
}

.auth-area {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.auth-block {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  width: 350px;
  align-items: center;
  border-radius: 10px;
  gap: 30px;
  padding: 30px 0px 30px 0px;
}

.auth-text {
  font-weight: bold;
  font-size: 35px;
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85%;
}

.auth-inputs {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.25);
  outline: none;
  padding: 0px 0px 3px 0px;
}

.auth-button {
  border-radius: 20px;
  border: none;
  width: 85%;
  height: 30px;
  background: linear-gradient(135deg, #FF4E50, #F9D423);
}

.auth-link {
  position: absolute;
  bottom: 5px;
  right: 7.5%;
  font-size: 12px;
  color: rgba(0,0,0,.5); 
}

.left-block {
  position: absolute;
  left: -150px;
  top: 0px;
  width: 300px;
  height: 300px;
  transform: rotate(45deg);
  background: linear-gradient(135deg, #FF4E50, #F9D423);
  border-radius: 10px;
}

.right-block {
  position: absolute;
  bottom: 0px;
  right: -150px;
  width: 300px;
  height: 300px;
  transform: rotate(45deg);
  background: linear-gradient(135deg, #FF4E50, #F9D423);
  border-radius: 10px;
}